/**
 * Test for variables
 */



.TestVariables {
  border: 5px solid red;
  color: #069;
  outline: 1px solid rgba(0, 0, 255, 0.5);
}

/**
 * Test for rework mixins
 */

.TestVendorPrefixes {
  opacity: 0.5;
  -ms-filter: "alpha(opacity=50)";
}

/**
 * Test for vendor prefixes
 */

.TestVendorPrefixes {
  background: -webkit-linear-gradient(bottom, #fff, #000);
  background: linear-gradient(to top, #fff, #000);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
