/**
 * Test for import
 */

.imported {
  padding: 0;
}

/**
 * Vertical alignment utilities
 * Depends on an appropriate `display` value.
 */

.u-alignBaseline {
  vertical-align: baseline !important;
}

.u-alignBottom {
  vertical-align: bottom !important;
}

.u-alignMiddle {
  vertical-align: middle !important;
}

.u-alignTop {
  vertical-align: top !important;
}

/**
 * Test for variables
 */



.TestVariables {
  border: 5px solid red;
  color: #069;
  outline: 1px solid rgba(0, 0, 255, 0.5);
}

/**
 * Test for calc
 */

.TestCalc {
  width: 200px;
}

/**
 * Test for opacity mixin
 */

.TestOpacityMixin {
  opacity: 0.5;
  -ms-filter: "alpha(opacity=50)";
}
