/**
 * Test for import
 */

@import "./test/fixtures/import";
@import "suitcss-utils-align";

/**
 * Test for custom-media
 */

@custom-media --small-viewport (min-width:400px);
@custom-media --large-viewport screen and (min-width:800px);

@media (--small-viewport) {
  .TestMedia {
    color: red;
  }
}

@media (--large-viewport) {
  .TestMedia {
    color: green;
  }
}

/**
 * Test for variables
 */

:root {
  --border: 5px solid red;
  --color: #069;
  --width: 100px;
}

.TestVariables {
  border: var(--border, 1px solid rgba(255, 0, 0, 0.5));
  color: var(--color);
  outline: var(--outline, 1px solid rgba(0, 0, 255, 0.5));
}

/**
 * Test for calc
 */

.TestCalc {
  width: calc(var(--width) * 2);
}
