/**
 * Test for variables
 */

:root {
  var-border: 5px solid red;
  var-color: #069;
  var-width: 100px;
}

.TestVariables {
  border: var(border, 1px solid rgba(255, 0, 0, 0.5));
  color: var(color);
  outline: var(outline, 1px solid rgba(0, 0, 255, 0.5));
}

/**
 * Test for calc
 */

.TestCalc {
  width: calc(var(width) * 2);
}

/**
 * Test for opacity mixin
 */

.TestOpacityMixin {
  opacity: 0.5;
}
